 #hero{
    width: 100%;
    height:  90vh;
    background-image: url(../../images/bg-banner-1.jpg);
    overflow: hidden;
    position: relative;
}

.slider_item-box{
  padding: 15% 0 10% 0;
}

.slider_item-detail h1{
   margin-bottom: 0;
   font-weight: 1500px;
   font-size: 35px;
}

.button-effect {
    min-width: 200px;
    min-height: 80px;
    font-family: 'Nunito', sans-serif;
    font-size: 22px;
    text-transform: uppercase;
    letter-spacing: 1.3px;
    font-weight: 700;
    color: #313133;
    background: #4FD1C5;
    background: linear-gradient(90deg, rgba(129,230,217,1) 0%, rgba(79,209,197,1) 100%);
    border: none;
    border-radius: 1000px;
    box-shadow: 12px 12px 24px rgba(79,209,197,.64);
    transition: all 0.3s ease-in-out 0s;
    cursor: pointer;
    outline: none;
    position: relative;
    }
  
button.button-effect::before {
  content: '';
    border-radius: 1000px;
    min-width: calc(300px + 12px);
    min-height: calc(60px + 12px);
    border: 6px solid #00FFCB;
    box-shadow: 0 0 60px rgba(0,255,203,.64);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: all .3s ease-in-out 0s;
  }
  
  .button.button-effect, .button-effect:focus {
    color: #313133;
    transform: translateY(-6px);
  }
  
  button-.button-effect::before, button-.button-effect::before {
    opacity: 1;
  }
  
  button.button-effect::after {
    content: '';
    width: 30px; height: 30px;
    border-radius: 100%;
    border: 6px solid #00FFCB;
    position: absolute;
    z-index: -1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: ring 1.5s infinite;
  }
  
  button.button-effect:hover::after, button.button-effect:focus::after {
    animation: none;
    display: none;
  }
  
  @keyframes ring {
    0% {
      width: 10px;
      height: 10px;
      opacity: 1;
    }
    100% {
      width: 200px;
      height: 200px;
      opacity: 0;
    }
  } 

  .slider_section {
    padding-top: 75px;
  }
  
  .slider_item-box {
    width: 100%;
    height: 100%;
  }
  
  .slider_item-box .container {
    height: 100%;
  }
  
  .slider_img-box {
    width: 85%;
    margin: 0 auto;
  }
  
  .slider_img-box img {
    width: 100%;
  }
  
  .slider_item-container {
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .slider_item-detail {
    text-align: center;
    color: #fff;
  }
  
  .slider_item-detail h1 {
    font-weight: 600;
  }
  
  .slider_item-detail p {
    margin: 40px 0 45px 0;
  }
  
  .slider_item-detail a {
    display: inline-block;
    background-color: #fddd33;
    color: #fff;
    font-size: 15px;
    border-radius: 10px;
    padding: 10px 40px;
  }
  
  .slider_item-imgbox {
    margin-top: 45px;
    width: 75%;
  }
  
  .slider_item-imgbox img {
    width: 100%;
  }
  
  .slider_section #carouselExampleControls,
  .carousel-inner,
  .carousel-item {
    height: 100%;
  }
  
  .slider_section .carousel-control-prev,
  .slider_section .carousel-control-next {
    position: absolute;
    top: 50%;
    width: 45px;
    height: 45px;
    border: none;
    border-radius: 100%;
    opacity: 1;
    background-repeat: no-repeat;
    background-size: 28px;
    background-position: center;
    background-color: #fff;
    transform: translateY(-50%);
  }
  
  .slider_section .carousel-control-prev:hover,
  .slider_section .carousel-control-next:hover {
    background-color: #292727;
    background-size: 12px;
  }
  
  .slider_section .carousel-control-prev {
    left: 2%;
    background-image: url(../../images/icons/left-black-arrow.png);
  }
  
  .slider_section .carousel-control-next {
    right: 2%;
    background-image: url(../../images/icons/right-black-arrow.png);
  }
  
  .slider_section .carousel-control-prev:hover {
    background-image: url(../../images/icons/prev.png);
  }
  
  .slider_section .carousel-control-next:hover {
    background-image: url(../../images/icons/next.png);
  }
  