.ourproduct
{
    width: 100%;
    text-align: center;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #00E5FF;
    color: white;
    margin-bottom: 10px;
    z-index: -9;
}
.ourproduct .h1{
    z-index: -9;
}
.temp
{
    margin-top: -5px;
    display: flex;
    height: 8px;
    background-color: #2979FF;
    z-index: -9;
}
.line
{
    height: 1px;
    background-color: #2979FF;
    z-index: -9;
}

.back
{
    background-color: #fff;
}
.container-ser
{
    position: relative;
    z-index: -9;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.container-ser .card2
{
    position: relative;
    height: 400px;
    margin-top: 25px;
    margin-bottom: 25px;
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgba(255, 255, 255, 0.05);
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(15px);
}
.container-ser .card2 .imgBx
{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 40px;
    transition: 0.5s ease-in-out;
}
.container-ser .card2:hover .imgBx
{
    transform: translateY(-100px);
}
.container-ser .card2 .imgBx img
{
    max-width: 100%;
    margin: 0 0 20px;
    transition: 0.5 ease-in-out;
}
.container-ser .card2 .imgBx h2
{
    color: #2979FF;
    font-size: 21px;
}

.container-ser .card2 .content2
{
    position: absolute;
    bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transition: 0.5s ease-in-out;
    opacity: 0;
    visibility: hidden;
}
.container-ser .card2:hover .content2
{
    opacity: 1;
    visibility: visible;
}
.container-ser .card2 .content2 .version
{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px 10px;
}
.container-ser .card2 .content2 .version h3
{
    font-weight: 600;
    font-size: 14px;
    text-transform:uppercase;
    letter-spacing:  2px;
    margin-right: 0px;
}
.container-ser .card2 .content2 .version span
{
    width: 26px;
    height: 26px;
    text-align: center;
    line-height:  24px;
    display: inline-block;
    color: #111;
    background: #00E5FF;
    border-radius: 4px;
    font-size: 14px;
    margin: 0 5px;
    font-weight:  500;
    transition: 0.5s;
    cursor:  pointer;
}
.container-ser .card2 .content2 .version span a{
    text-decoration: none;
}
.container-ser .card2 .content2 .version span:hover
{
    background: #9bdc28;
}
.container-ser .card2 .content2 .read2
{
    position: relative;
    top: 10px;
    display: inline-block;
    padding: 12px 30px;
    background:#00E5FF;
    border-radius: 40px;
    font-weight:  600;
    letter-spacing: 1px;
    color: #111;
    text-decoration: none;
    text-transform: uppercase;
}
.container-ser .card2 .content2 .read2 a{
    text-decoration: none;
}


/*********************************************/
/*****************Tablet Menu*****************/
/*********************************************/
@media  screen and (min-width: 500px){
    .ourproduct{
        margin-bottom: 10px;
    }
    .container-ser .card2{
        width: 40%;
        margin: 30px 2%;
    }

}




/*********************************************/
/***************Desktop1 Menu*****************/
/*********************************************/
@media  screen and (min-width: 800px){
    .ourproduct{
        margin-bottom: 10px;
    }
    .container-ser .card2{
        width: 30%;
        margin: 20px 1%;
    }
}


/*********************************************/
/****************Desktop2 Menu****************/
/*********************************************/
@media  screen and (min-width: 1200px) {
    .ourproduct{
        margin-bottom: 60px;
    }
    .container-ser .card2{
        width: 22%;
        margin: 1%;
    }

}